@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Henny+Penny&display=swap');
.paper{
    height: 1200px;
    width: 900px;
    background-color: #e6e0d9;
    margin:auto;
    padding: 30px;
}
.header{
    height: 160px;
    width: 100%;
    background-image: url("Img/paper-head.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-header{
    height: 85px;
    background-image: url("Img/paper-sub-head.PNG");
    background-size: cover;
}
.article-container{
    border: solid black 3px;
    margin-top:20px;
}
img{
    float: right;
    opacity: 0.7;
}
h1{
    font-family: "Berkshire Swash", serif;
}
p{
    font-family: "Henny Penny", system-ui;
}
