.card {
    display: inline-block;
    width: 18%;
    background-color: rgb(255, 255, 255);
    /* border-style: solid;
    border-color: #B83400;
    border-width: 3px; */
    border: solid #B83400 4px;
    border-radius: 10px;
    margin: 3px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 3% 3% 0% 0%
}

body {
    background-color: #adefc3;
    text-align: center;
}

.button {
    background-color: #adefc3;
    border-radius: 10px;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: black;

}

.menu-link {
    border: solid black;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border-radius: 40px;
    color: #802804;
    font-size: 25px;
    text-decoration: none;
    box-shadow: 3px 5px 3px 0px
}

span {
    vertical-align: super;
}

h2 {
    color: #4b0081
}

caption {
    color: #4b0081;
    font-size: 35px;
}

td {
    border: dashed rgb(135, 135, 135) 2px;
    background-color: white;
    padding: 20px;
    padding-bottom: 5px;
    border-top: none;
}

table {
    border-collapse: collapse;
    margin: auto;
}

.basic {
    background-color: #fe1082
}

.pro {
    background-color: #0082f4;
}

.gold {
    background-color: #6500dd;
}

.platinum {
    background-color: #fba004;
}

th {
    padding: 40px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.gray-bg td {
    background-color: #f1f1f1;
}

.price {
    box-shadow: 1px 3px 5px 0px grey;
    padding: 10px;
    border-radius: 3px;
    width: fit-content;
    margin: auto;
}

.select {
    padding: 20px 40px;
    width: 40%;
    margin: 20px;
    display: inline-block;
    border-radius: 30px;
    border:solid black 1px;
    text-shadow:3px 1px 2px black;
    box-shadow: 1px 2px 5px 0px black;
    color: white;
    text-decoration: none;
}