@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
.paper {
    width: 900px;
    background-color: #f5f8fd;
    margin: auto;
    padding: 30px;
}

.header {
    height: 160px;
    width: 100%;
    background-image: url("img/pic0.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sub-header {
    height: 220px;
    background-image: url("Img/pic3.PNG");
    background-size: cover;
    background-position: center;
}

.red-spider{ 
    width: 20%;
    display: block;
    margin: auto;
}

.search{
    width: 38%;
}

.spider-man {
    float: right;
    margin: 5px;
    width: 57%;
}
h1{
    font-family: "Yeseva One", serif;
    font-size: 74px;
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    margin: 0px;
}
h2{
    text-transform: uppercase;
    color: #ffffff;
    background-color: red;
    text-align: center;
    padding: 5px;
}