.paper {
    width: 900px;
    background-color: #f5f8fd;
    margin: auto;
    padding: 30px;
}

.header {
    height: 160px;
    width: 100%;
    background-image: url("img/pic0.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sub-header {
    height: 85px;
    background-image: url("Img/pic3.PNG");
    background-size: cover;
    background-position: center;
}

.article-container {
    border: solid black 3px;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
}

img {
    float: right;
    opacity: 1;
    margin: 5px;
}

.column {
    width: 31%;
    float: left;
    margin: 5px;
}